<div>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></div>

<nav class="row m-social" role="navigation">
  <a href="https://www.facebook.com/matt.stubenhofer" alt="Facebook" target="_blank" rel="external">
    <i id="facebook" class="fa fa-facebook-square fa-3x fa-social"></i>
  </a>
  <a href="https://twitter.com/mattstub" alt="Twitter" target="_blank" rel="external">
    <i id="twitter" class="fa fa-twitter-square fa-3x fa-social"></i>
  </a>
  <a href="https://github.com/mattstub" alt="GitHub" target="_blank" rel="external">
    <i id="github" class="fa fa-github-square fa-3x fa-social"></i>
  </a>
  <a href="https://www.instagram.com/mattstubbsok/" alt="Instagram" target="_blank" rel="external">
    <i id="instagram" class="fa fa-instagram fa-3x fa-social"></i>
  </a>
  <a href="https://www.linkedin.com/in/mattstubenhofer/" alt="LinkedIn" target="_blank" rel="external">
    <i id="linkedin" class="fa fa-linkedin-square fa-3x fa-social"></i>
  </a>
</nav>
